* {
    transition: background-color .3s, border-color .3s;
}

header {
    background-color: #232728;
}

body {
    background-color: #181b1c;
    color: white;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 108px;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 -20px;
}

img#icon {
    max-height: 80px;
    border: 3px solid black;
    background-color: white;
    border-radius: 100%;
}

img#darkmode {
    width: 40px;
}

#center h3 {
    font-size: 50px;
}

#center span.smaller {
    color: rgb(108 108 108);
}

footer p {
    background-color: transparent!important;
    color: white!important;
    border-color: white!important;
}

#title {
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 13px;
    width: 220px;
}